<div class="login-wrapper">
  <form class="login">
    <section class="title">
      <h3 class="welcome">Welcome to</h3>
      Dragonfly Tracker
      <h5 class="hint">
        Use your Dragonfly Account to sign in or <a href="/register" [routerLink]="['/register']">create one now</a>
      </h5>
    </section>
    <div class="login-group">
      <clr-select-container hidden>
        <label class="clr-sr-only">User Role</label>
        <select clrSelect name="type" [(ngModel)]="form.type">
          <option value="local">Local Users</option>
          <option value="admin">Administrator</option>
        </select>
      </clr-select-container>
      <clr-input-container>
        <label class="clr-sr-only">Username</label>
        <input type="text" name="username" clrInput placeholder="Username or Email" [(ngModel)]="form.userName" />
      </clr-input-container>
      <clr-password-container>
        <label class="clr-sr-only">Password</label>
        <input type="password" name="password" clrPassword placeholder="Password" [(ngModel)]="form.password" />
      </clr-password-container>
      <clr-checkbox-wrapper hidden>
        <label>Remember me</label>
        <input type="checkbox" name="rememberMe" clrCheckbox [(ngModel)]="form.rememberMe" />
      </clr-checkbox-wrapper>
      <div class="error active" hidden>
        Invalid Username and Password combination
      </div>
      <div class="error active" *ngFor="let error of errors">
        {{ error }}
      </div>
      <app-button-with-loading-state
        [loading]="loginInProgress"
        [loadingText]="'Authenticating'"
        (click)="onLoginClick()"
      >
        Next
      </app-button-with-loading-state>
      <a href="/register" [routerLink]="['/register']" routerLinkActive="router-link-active" class="signup"
        >New here? Sign up for a Dragonfly Account</a
      >
      <a href="/request-password-reset" [routerLink]="['/request-password-reset']" class="signup"
        >Forgot your Username or Password?</a
      >
    </div>
  </form>
</div>
