<button class="btn btn-text btn-success" (click)="onCreateClick()">
  Create Project <clr-icon shape="plus"></clr-icon>
</button>

<clr-wizard #wizardlg [(clrWizardOpen)]="wizardOpen" clrWizardSize="lg">
  <clr-wizard-title>Create a New Project</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">Create</clr-wizard-button>

  <clr-wizard-page [clrWizardPageNextDisabled]="name.pristine || !formPageOne.valid">
    <ng-template clrPageTitle>What to call it?</ng-template>

    <form clrForm #formPageOne="ngForm">
      <clr-input-container>
        <label>Project Name</label>
        <input clrInput required minlength="2" [(ngModel)]="newProject.name" name="name" #name="ngModel" />
        <clr-control-error>This field is required!</clr-control-error>
      </clr-input-container>

      <clr-textarea-container>
        <label>Add a Project Description (optional)</label>
        <textarea clrTextarea [(ngModel)]="newProject.description" name="description"></textarea>
      </clr-textarea-container>
    </form>
  </clr-wizard-page>

  <clr-wizard-page>
    <ng-template clrPageTitle>Some settings</ng-template>
    <form clrForm #formPageTwo="ngForm">
      <clr-checkbox-wrapper>
        <label>Make Project Public</label>
        <input clrCheckbox type="checkbox" [(ngModel)]="newProject.isPublic" value="isPublic" name="isPublic" />
      </clr-checkbox-wrapper>
    </form>
  </clr-wizard-page>

  <clr-wizard-page>
    <ng-template clrPageTitle>What issues will it address?</ng-template>
    <form clrForm #formPageThree="ngForm">
      <clr-input-container>
        <label>New Issue Type</label>
        <input clrInput required minlength="2" [(ngModel)]="newIssueType" name="name" #name="ngModel" />
        <clr-control-error>This field is required!</clr-control-error>
      </clr-input-container>
      <button
        class="btn btn-primary"
        type="submit"
        (click)="onNewIssueTypeSubmit()"
        [disabled]="name.pristine || !formPageThree.valid"
      >
        Add
      </button>
      <clr-input-container>
        <label>Issue Types:</label>
      </clr-input-container>
      <a class="label label-blue clickable" *ngFor="let type of newProject.types"
        >{{ type.name }} <clr-icon shape="close" (click)="onTypeLabelClick(type)"></clr-icon
      ></a>
    </form>
  </clr-wizard-page>

  <clr-wizard-page>
    <ng-template clrPageTitle>What steps will it include?</ng-template>
    <form clrForm #formPageFour="ngForm">
      <clr-input-container>
        <label>New Issue Stage</label>
        <input clrInput required minlength="2" [(ngModel)]="newIssueStage" name="name" #name="ngModel" />
        <clr-control-error>This field is required!</clr-control-error>
      </clr-input-container>
      <button
        class="btn btn-primary"
        type="submit"
        (click)="onNewIssueStageSubmit()"
        [disabled]="name.pristine || !formPageFour.valid"
      >
        Add
      </button>
      <clr-input-container>
        <label>Issue Stages:</label>
      </clr-input-container>
      <span class="label label-blue clickable" *ngFor="let stage of newProject.stages"
        >{{ stage.name }}<clr-icon shape="close" (click)="onStageLabelClick(stage)"></clr-icon
      ></span>
    </form>
  </clr-wizard-page>

  <clr-wizard-page>
    <ng-template clrPageTitle>Who will be admins?</ng-template>
    <form clrForm #formPageFive="ngForm"></form>
  </clr-wizard-page>

  <clr-wizard-page>
    <ng-template clrPageTitle>Add more participants?</ng-template>
    <form clrForm #formPageSix="ngForm"></form>
  </clr-wizard-page>

  <clr-wizard-page>
    <ng-template clrPageTitle>Will you own this Project?</ng-template>
    <form clrForm #formPageSeven="ngForm"></form>
  </clr-wizard-page>

  <clr-wizard-page>
    <ng-template clrPageTitle>Finalizing</ng-template>
    <form clrForm #formPageEight="ngForm"></form>
  </clr-wizard-page>
</clr-wizard>
