<div class="login-wrapper">
  <form class="login" [formGroup]="registerForm">
    <section class="title">
      <h3 class="welcome">Welcome to</h3>
      Dragonfly Tracker
      <h5 class="hint">Create a new Dragonfly Account</h5>
    </section>
    <div class="login-group">
      <clr-select-container hidden>
        <label class="clr-sr-only">User Role</label>
        <select clrSelect name="type" formControlName="type">
          <option value="local">Local Users</option>
          <option value="admin">Administrator</option>
        </select>
      </clr-select-container>
      <clr-input-container>
        <label class="clr-sr-only">Username</label>
        <input type="text" name="username" clrInput placeholder="Username" required formControlName="userName" />
      </clr-input-container>
      <clr-input-container>
        <label class="clr-sr-only">Email</label>
        <input type="text" name="email" clrInput placeholder="Email" required formControlName="email" />
      </clr-input-container>
      <clr-password-container>
        <label class="clr-sr-only">Password</label>
        <input type="password" name="password" clrPassword placeholder="Password" required formControlName="password" />
      </clr-password-container>
      <clr-password-container>
        <label class="clr-sr-only">Repeat Password</label>
        <input
          type="password"
          name="password2"
          clrPassword
          placeholder="Repeat Password"
          required
          formControlName="password2"
        />
      </clr-password-container>
      <div class="error active" *ngIf="registerFailed">
        Registration failed
      </div>
      <div class="error active" *ngFor="let error of errors">
        {{ error }}
      </div>
      <button type="submit" class="btn btn-primary" (click)="onRegisterClick()">NEXT</button>
      <a href="/login" [routerLink]="['/login']" routerLinkActive="router-link-active" class="signup"
        >Already have an account? Login here</a
      >
      <a href="/request-password-reset" [routerLink]="['/request-password-reset']" class="signup"
        >Forgot your Username or Password?</a
      >
    </div>
  </form>
</div>
