<h3>{{ project.name }}</h3>
<p>{{ project.description }}</p>
<clr-tabs>
  <clr-tab>
    <button clrTabLink id="link1">Issues</button>
    <clr-tab-content id="content1" *clrIfActive>
      <br />
      <a
        class="btn btn-text btn-success"
        href="/user/{{ targetUsername }}/{{ targetProjectName }}/create-issue"
        routerLink="/user/{{ targetUsername }}/{{ targetProjectName }}/create-issue"
        >Create Issue <clr-icon shape="plus"></clr-icon
      ></a>
      <br />
      <form clrForm>
        <clr-input-container>
          <label>Search</label>
          <input clrInput placeholder="Search Text" name="search" [(ngModel)]="searchText" />
        </clr-input-container>
        <clr-select-container>
          <label>Open Status</label>
          <select clrSelect name="openStatus" [(ngModel)]="openStatus">
            <option value="open">Open</option>
            <option value="closed">Closed</option>
            <option value="all">All</option>
          </select>
        </clr-select-container>
        <button class="btn btn-primary" type="submit" (click)="onSearchClick()">Search</button>
      </form>

      <clr-datagrid #issuelist (clrDgRefresh)="refresh($event)" [clrDgLoading]="loadingIssues">
        <clr-dg-column>Issue Title</clr-dg-column>
        <clr-dg-column>Issue Number</clr-dg-column>
        <clr-dg-column></clr-dg-column>

        <clr-dg-placeholder>We couldn't find any Issues!</clr-dg-placeholder>

        <clr-dg-row *ngFor="let issue of issuesList" [clrDgItem]="issue">
          <clr-dg-action-overflow>
            <button class="action-item" (click)="onIssueEditClick(issue)">
              Edit <clr-icon shape="trash"></clr-icon>
            </button>
            <button class="action-item" (click)="onIssueDeleteClick(issue)">
              Delete <clr-icon shape="pencil"></clr-icon>
            </button>
          </clr-dg-action-overflow>
          <clr-dg-cell
            ><a
              href="/user/{{ targetUsername }}/{{ targetProjectName }}/issues/{{ issue.number }}"
              routerLink="/user/{{ targetUsername }}/{{ targetProjectName }}/issues/{{ issue.number }}"
              >{{ issue.title }}</a
            ></clr-dg-cell
          >
          <clr-dg-cell
            ><a
              href="/user/{{ targetUsername }}/{{ targetProjectName }}/issues/{{ issue.number }}"
              routerLink="/user/{{ targetUsername }}/{{ targetProjectName }}/issues/{{ issue.number }}"
              >#{{ issue.number }}</a
            ></clr-dg-cell
          >
          <clr-dg-cell></clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>
          <clr-dg-pagination #pagination [clrDgTotalItems]="total" [clrDgPageSize]="10">
            <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]">Projects per page</clr-dg-page-size>
            {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of {{ total }} projects
          </clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
    </clr-tab-content>
  </clr-tab>

  <clr-tab>
    <button clrTabLink id="link2">Information</button>
    <clr-tab-content id="content2" *clrIfActive>
      <clr-input-container>
        <label>Project Name</label>
        <input
          clrInput
          required
          minlength="2"
          [(ngModel)]="project.name"
          name="name"
          #name="ngModel"
          (ngModelChange)="onProjectNameType($event)"
          disabled
        />
        <clr-control-error>This field is required!</clr-control-error>
      </clr-input-container>

      <clr-textarea-container>
        <label>Add a Project Description (optional)</label>
        <textarea clrTextarea [(ngModel)]="project.description" name="description" disabled></textarea>
      </clr-textarea-container>

      <clr-checkbox-container>
        <clr-checkbox-wrapper>
          <label>Make Project Private</label>
          <input
            clrCheckbox
            type="checkbox"
            [(ngModel)]="project.private"
            value="isPublic"
            name="isPublic"
            disabled
          /> </clr-checkbox-wrapper
      ></clr-checkbox-container> </clr-tab-content
  ></clr-tab>

  <clr-tab>
    <button clrTabLink id="link3">Settings</button>
    <clr-tab-content id="content3" *clrIfActive>
      <form clrForm #formSettings="ngForm">
        <clr-input-container>
          <label>Project Name</label>
          <input
            clrInput
            required
            minlength="2"
            [(ngModel)]="project.name"
            name="name"
            #name="ngModel"
            (ngModelChange)="onProjectNameType($event)"
            disabled
          />
          <clr-control-error>This field is required!</clr-control-error>
        </clr-input-container>

        <clr-textarea-container>
          <label>Add a Project Description (optional)</label>
          <textarea clrTextarea [(ngModel)]="project.description" name="description" disabled></textarea>
        </clr-textarea-container>

        <clr-checkbox-container>
          <clr-checkbox-wrapper>
            <label>Make Project Private</label>
            <input
              clrCheckbox
              type="checkbox"
              [(ngModel)]="project.private"
              value="isPublic"
              name="isPublic"
              disabled
            /> </clr-checkbox-wrapper
        ></clr-checkbox-container>

        <clr-input-container>
          <label>Issue Types:</label>
        </clr-input-container>
        <a class="label label-blue clickable" *ngFor="let type of project.types">{{ type.name }} </a>
        <clr-input-container>
          <label>Issue Stages:</label>
        </clr-input-container>
        <span class="label label-blue clickable" *ngFor="let stage of project.stages">{{ stage.name }}</span>

        <clr-input-container>
          <label>Admins:</label>
        </clr-input-container>
        <span class="label label-blue clickable" *ngFor="let admin of project.admins">{{ admin.userName }}</span>
        <clr-input-container>
          <label>Maintainers:</label>
        </clr-input-container>
        <span class="label label-blue clickable" *ngFor="let maintainer of project.maintainers">{{
          maintainer.userName
        }}</span>
      </form>
      <br />
      <br />
      <button class="btn btn-text btn-danger" (click)="onProjectDeleteClick()">
        Delete Project <clr-icon shape="trash"></clr-icon>
      </button> </clr-tab-content
  ></clr-tab>
  <clr-tab>
    <button clrTabLink id="link2">Teams</button>
    <clr-tab-content id="content2" *clrIfActive> </clr-tab-content>
  </clr-tab>
</clr-tabs>
