<app-back-button></app-back-button>

<form clrForm>
  <clr-input-container>
    <label>New Password</label>
    <input clrInput type="text" [(ngModel)]="newPassword" name="newPassword" />
  </clr-input-container>
  <clr-input-container>
    <label>Repeat Password</label>
    <input clrInput type="text" [(ngModel)]="newPassword2" name="newPassword2" />
  </clr-input-container>
  <br />
  <br />
  <button type="button" class="btn btn-icon btn-success" aria-label="success" (click)="onPasswordChangeSubmit()">
    Submit<clr-icon shape="plus"></clr-icon>
  </button>
</form>

<app-message-area [errors]="errors" [success]="successMessages" [loading]="loading"></app-message-area>
