<a class="btn btn-text btn-primary" href="{{ previousUrl }}" routerLink="{{ previousUrl }}" *ngIf="!loading"
  >Go Home <clr-icon shape="undo"></clr-icon
></a>

<form clrForm>
  <clr-input-container>
    <label>New Password</label>
    <input clrInput type="text" [(ngModel)]="newPassword" name="newPassword" />
  </clr-input-container>
  <clr-input-container>
    <label>Repeat Password</label>
    <input clrInput type="text" [(ngModel)]="newPassword2" name="newPassword2" />
  </clr-input-container>
  <br />
  <br />
  <button type="button" class="btn btn-icon btn-success" aria-label="success" (click)="onPasswordChangeSubmit()">
    Submit<clr-icon shape="plus"></clr-icon>
  </button>
</form>

<span class="spinner spinner-inline1" *ngIf="loading; else loaded">
  Loading...
</span>
<ng-template #loaded>
  <div class="alert alert-danger" *ngFor="let error of errors">
    <div class="alert-items">
      <div class="alert-item static" role="alert">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
        </div>
        <span class="alert-text">
          {{ error.message }}
        </span>
      </div>
    </div>
  </div>
  <div class="alert alert-success" *ngFor="let successMessage of successMessages">
    <div class="alert-items">
      <div class="alert-item static" role="alert">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
        </div>
        <span class="alert-text">
          {{ successMessage }}
        </span>
      </div>
    </div>
  </div>
</ng-template>
