<a class="btn btn-text btn-primary" href="{{ previousUrl }}" routerLink="{{ previousUrl }}" *ngIf="!loading"
  >Go Home <clr-icon shape="undo"></clr-icon
></a>

<form clrForm>
  <clr-input-container>
    <label>Your Email</label>
    <input clrInput type="text" [(ngModel)]="email" name="email" />
  </clr-input-container>
  <br />
  <br />
  <button type="button" class="btn btn-icon btn-success" aria-label="success" (click)="onPasswordResetRequestSubmit()">
    Submit<clr-icon shape="plus"></clr-icon>
  </button>
</form>

<app-message-area [errors]="errors" [messages]="successMessages" [loading]="loading"></app-message-area>
