<clr-main-container>
  <div class="alert alert-app-level"></div>
  <clr-header class="header header-7">
    <div class="branding">
      <a href="" routerLink="" class="nav-link">
        <clr-icon shape="vm-bug"></clr-icon>
        <span class="title">Dragonfly</span>
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
      <a class="nav-link nav-icon-text" href="/counter" routerLink="/counter" routerLinkActive="active">
        <clr-icon shape="plus"></clr-icon>
        Counter
      </a>
      <a class="nav-link nav-icon-text" href="/fetch-data" routerLink="/fetch-data" routerLinkActive="active">
        Weather Forecast
      </a>
      <a
        class="nav-link nav-icon-text"
        *ngIf="isLoggedIn === authenticatedStates.True"
        href="/my-projects"
        routerLink="/my-projects"
        routerLinkActive="active"
      >
        <clr-icon shape="view-list"></clr-icon>
        My Projects
      </a>
    </div>
    <div class="header-actions">
      <span class="spinner spinner-inline1" *ngIf="isLoggedIn === authenticatedStates.Loading">
        Loading...
      </span>
      <a
        *ngIf="isLoggedIn === authenticatedStates.False"
        class="nav-link nav-icon-text"
        href="/login"
        routerLink="/login"
        routerLinkActive="active"
      >
        <clr-icon shape="login"></clr-icon>
        Login
      </a>
      <a
        class="nav-link nav-icon-text"
        *ngIf="isLoggedIn === authenticatedStates.False"
        href="/register"
        routerLink="/register"
        routerLinkActive="active"
      >
        <clr-icon shape="user"></clr-icon>
        Register
      </a>
      <a
        *ngIf="isLoggedIn === authenticatedStates.True"
        href="/notifications"
        routerLink="/notifications"
        class="nav-link nav-icon-text"
        routerLinkActive="active"
      >
        <clr-icon shape="bell"></clr-icon>
        <span class="badge badge-info">99+</span>
      </a>
      <clr-dropdown *ngIf="isLoggedIn === authenticatedStates.True">
        <button class="nav-icon-text" clrDropdownTrigger aria-label="toggle settings menu">
          <clr-icon shape="user"></clr-icon>
          <span class="nav-text">{{ username }}</span>
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <label class="dropdown-header" aria-hidden="true">Profile Links</label>
          <a href="..." routerLink="/..." clrDropdownItem>About</a>
          <a href="/preferences" routerLink="/preferences" clrDropdownItem>Preferences</a>
          <div class="dropdown-divider" role="separator" aria-hidden="true"></div>
          <a href="/logout" routerLink="/logout" clrDropdownItem>Log out</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>

  <div class="content-container">
    <main class="content-area">
      <router-outlet></router-outlet>
    </main>
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" [clrVerticalNavCollapsed]="vertNavCollapsed">
      <clr-vertical-nav-group routerLinkActive="active">
        <clr-icon shape="user" clrVerticalNavIcon></clr-icon>
        Normal
        <clr-vertical-nav-group-children>
          <a clrVerticalNavLink routerLink="./normal/pidgey" routerLinkActive="active">
            Pidgey
          </a>
          <a clrVerticalNavLink routerLink="./normal/snorlax" routerLinkActive="active">
            Snorlax
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <clr-vertical-nav-group routerLinkActive="active">
        <clr-icon shape="flame" clrVerticalNavIcon></clr-icon>
        Fire
        <clr-vertical-nav-group-children>
          <a clrVerticalNavLink routerLink="./fire/charmander" routerLinkActive="active">
            Charmander
          </a>
          <a clrVerticalNavLink routerLink="./fire/charizard" routerLinkActive="active">
            Charizard
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <clr-vertical-nav-group routerLinkActive="active">
        <clr-icon shape="bolt" clrVerticalNavIcon></clr-icon>
        Electric
        <clr-vertical-nav-group-children>
          <a clrVerticalNavLink routerLink="./electric/pikachu" routerLinkActive="active">
            Pikachu
          </a>
          <a clrVerticalNavLink routerLink="./electric/raichu" routerLinkActive="active">
            Raichu
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <a clrVerticalNavLink routerLinkActive="active" routerLink="./credit">
        <clr-icon shape="certificate" clrVerticalNavIcon></clr-icon>
        Credit
      </a>
    </clr-vertical-nav>
  </div>
</clr-main-container>
