<nb-layout>

  <nb-layout-header fixed>
    <nb-actions size="medium">
      <nb-action icon="home-outline" routerLink=''></nb-action>
      <nb-action routerLink='/counter'>
        Counter
      </nb-action>
      <nb-action routerLink='fetch-data'>
        Weather Forecast
      </nb-action>
    </nb-actions>
    <nb-actions size="medium" align="right">
      <nb-action icon="search-outline"></nb-action>
      <nb-action [icon]="disabledIconConfig" disabled></nb-action>
      <nb-action icon="person-outline"></nb-action>
      <nb-action icon="power-outline"></nb-action>
    </nb-actions>
  </nb-layout-header>

  <nb-sidebar>Sidebar Content</nb-sidebar>
  <nb-layout-column>

    <app-nav-menu></app-nav-menu>
    <div class="container">
      <ng-content></ng-content>
    </div>

  </nb-layout-column>

  <nb-layout-footer fixed>

    <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
